include LICENSE
include README.md
include pyproject.toml
recursive-include oprel/webui-react/out *
recursive-include oprel/runtime/binaries *
global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
